sectioin.about.about--bg
	.conteiner

		.about__row

			.about__col.about__col-left
				h2.title-h2 What our customers have to say about us.
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				button.button Get started

			.about__col

				.about__wrapper
					img.about__img(src="#", alt="")
					.about__review
						cite John Doe
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

				.about__wrapper
					img.about__img(src="#", alt="")
					.about__review
						cite Khalessi
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea