section.about.about--bg

	.conteiner.about__conteiner

		.about__row

			.about__col-left
				h2.title.about__title What our customers have to say about us.
				p.text.about__text.text--white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				button.bth.about__bth Get started
			.about__inner
				.swiper-button-next
				.swiper-button-prev
				.about__slaider-conteiner.swiper-container
					
		
					.about__slaider-wrapper.swiper-wrapper
					
						.about__slaider-slide.swiper-slide(data-hash="slide-1")
							img.about__img(src=way+"/about/img1.png", alt="")
							.about__review
								cite.about__cite John Doe
								p.text.about__review-text Lorem ipsum dolor esit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

						.about__slaider-slide.swiper-slide(data-hash="slide-2")
							img.about__img(src=way+"/about/img2.png", alt="")
							.about__review
								cite.about__cite Khalessi
								p.text.about__review-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

					.about__slaider-pagination.swiper-pagination
				





				