sectioin.about.about--bg
	.conteiner

		.about__row

			.about__col-left
				h2.title.about__title What our customers have to say about us.
				p.text.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				button.bth.about__bth Get started

			.about__col-right
				button.about__arrow-top
				button.about__arrow-bot
				.about__slaider

					.about__wrapper
						img.about__img(src=way+"/about/img1.png", alt="")
						.about__review
							cite.about__cite John Doe
							p.text Lorem ipsum dolor esit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

				
					.about__wrapper
						img.about__img(src=way+"/about/img2.png", alt="")
						.about__review
							cite.about__cite Khalessi
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

					.about__wrapper
						img.about__img(src=way+"/about/img2.png", alt="")
						.about__review
							cite.about__cite Khalessi
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea

				