section.contect
	.contect__conteiner

		.description
			h2.title Contact Us
			p.text.contect__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

		form.contect__form(action="#")
			.contect__wrapper
				input.contect__input(type="text" placeholder="First Name")
				input.contect__input(type="text" placeholder="Last Name")

			.contect__wrapper
				input.contect__input(type="email" placeholder="Email")
				input.contect__input(type="tel" placeholder="Phone")

			.contect__wrapper
				textarea.contect__input.contect__input-message(name="message" placeholder="Message")

			.contect__wrapper
				input.contect__chekcbox(id="contect" type="checkbox" value="") 
				label.text.contect__label(for="contect") subscribe to the newsletter
				button.bth.contect__bth.bth--color(disabled="disabled") send
			