section.contect
	.conteiner__tho
		h2.title-h2
		p.text.contect__text

		form.contect__form(action="#")
			.contect__wrapper
				input.contect__name(type="text")
				input.contect__surname(type="text")

			.contect__wrapper
				input.contect__email(type="email")
				input.contect__tel(type="tel")

			textarea.contect__message(name="message")

			.contect__wrapper
				input(type="checkbox" value="") 
				p.text.contect__text subscribe to the newsletter
				button.button