section.download

	.download__row
		.download__col
			img.download__img(src="#", alt="")
			.download__wrapper
			p.download__text
			h4.header__logo-text

		.download__col
			img.download__img(src="#", alt="")
			.download__wrapper
			p.download__text
			h4.header__logo-text

		.download__col
			img.download__img(src="#", alt="")
			.download__wrapper
			p.download__text
			h4.header__logo-text

		.download__col
			img.download__img(src="#", alt="")
			.download__wrapper
			p.download__text
			h4.header__logo-text