section.download

	.download__row
	
		.download__col.download__col--color-one
			img.download__img(src=way+"/download/icon1.png", alt="")
			.download__wrapper
				p.download__text 12000+
				h4.header__logo-text Business

		.download__col.download__col--color-two
			img.download__img(src=way+"/download/icon2.png", alt="")
			.download__wrapper
				p.download__text 60000+
				h4.header__logo-text Downloads

		.download__col.download__col--color-three
			img.download__img(src=way+"/download/icon3.png", alt="")
			.download__wrapper
				p.download__text 30000+
				h4.header__logo-text Free Installs

		.download__col.download__col--color-four
			img.download__img(src=way+"/download/icon4.png", alt="")
			.download__wrapper
				p.download__text 40000+
				h4.header__logo-text Pro Users