footer.footer.footer__padding.footer--bg
	.conteiner

		.footer__top

			.footer__col.logo
				img.logg__img(src=way+"/header/icon.png", alt="")
				.log__wrapper
					p.logo__text Dart
					h4.logo__title service manager

			.footer__col
				nav.footer__nav.nav
					ul.nav__list
						li.nav__items
							a.nav__link.foonter__lick--color(href="#") Home
						li.nav__items
							a.nav__link.foonter__lick--color(href="#") Service
						li.nav__items
							a.nav__link.foonter__lick--color(href="#") Extension
						li.nav__items
							a.nav__link.foonter__lick--color(href="#") Pricing
						li.nav__items
							a.nav__link.foonter__lick--color(href="#") Help

		.footer__bot

			.footer__bot-col
				a.footer__bot-col-link(href="#") Privecy Policy
				a.footer__bot-col-link(href="#") About Us
				a.footer__bot-col-link(href="#") About Us

			ul.footer__socials.socials
				li.socials-item
					a.socials-link._icon-tw(href="#")

				li.socials-item
					a.socials-link._icon-fe(href="#")

				li.socials-item
					a.socials-link._icon-vk(href="#")

				li.socials-item
					a.socials-link._icon-be(href="#")

				li.socials-item.footer__socials-item
					a.socials-link._icon-mail(href="#")
							