footer.footer
	.conteiner

		.footer__top

			.footer__col
				img.header__logg(src="#", alt="")
					.header__wrapper
						p.header__logo-text
						h4.header__logo-text

			.footer__col
				nav.header__nav.nav
					ul.nav__list
						li.nav__items
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")

		.footer__bot

			.footer__bot-col
				a.footer__bot-col-link(href="#")
				a.footer__bot-col-link(href="#")
				a.footer__bot-col-link(href="#")

			ul.team__socials.socials
				li.socials-item
					a.socials-link(href="#")
						img.socials-img(src="#", alt="")

				li.socials-item
					a.socials-link(href="#")
						img.socials-img(src="#", alt="")

				li.socials-item
					a.socials-link(href="#")
						img.socials-img(src="#", alt="")

				li.socials-item
					a.socials-link(href="#")
						img.socials-img(src="#", alt="")

				li.socials-item
					a.socials-link(href="#")
						img.socials-img(src="#", alt="")
				