.modal
	.modal__body
		h2.modal__title sign up
		p.modal__close X

		form.modal__form(action="#")
			input.modal__input(type="text" placeholder="Name")
			label(class="modal__label" for="woman") Woman
			input.modal__input-radio(id="woman" type="radio" Name="radio" value="Woman")
			label(class="modal__label" for="man") Man
			input.modal__input-radio(id="man" type="radio" Name="radio" value="Man")
			input.modal__input(type="email" placeholder="Email")
			input.modal__input(type="password" placeholder="Password")
			input.modal__input(type="tel" placeholder="Tel")
