header.header.header--bg
	.conteiner

		.header__row

			.header__top

				.header__top-col
					img.header__logg(src=way+"/header/icon.png", alt="")
					.header__wrapper
						p.header__logo-text Dart
						h4.header__logo-title service manager

				nav.header__nav.nav
					ul.nav__list
						li.nav__items
							a.nav__link(href="#") Home
							a.nav__link(href="#") Service
							a.nav__link(href="#") Extension
							a.nav__link(href="#") Pricing
							a.nav__link(href="#") Help

				.header__top-col
					button.header__bth sign up

			.header__bottom

				.header__bottom-col
					.header__description
						h1.header__title lorem Ipsum Dolor sit amet
						p.text.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamclaboris nisi ut aliquip ex ea commodo consequat.
						button.bth Buy now
						button.bth.header__bottom-bth__right Try for free

				include header__component/_video.pug
				
