header.header.header--bg
	.conteiner

		.header__row

			.header__top

				.header__top-col
					img.header__logg(src="#", alt="")
					.header__wrapper
						p.header__logo-text
						h4.header__logo-text

				nav.header__nav.nav
					ul.nav__list
						li.nav__items
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")
							a.nav__link(href="#")

				.header__top-col
					button.button

			.header__bottom

				.header__bottom-col
					.header__description
						h1.header__title
						p.text
						button.button
						button.button

				.header__bottom-col
					.header__media