header.header
	.conteiner

		.header__row

			.header__top

				.header__top-column
					.header__logo
					.header__wrapper
						p.header__logo-text
						h3.header__logo-text

				.header__top-column
					ul.header__list
						li.header__items
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")

				.header__top-column
					button.butt
			.header__bottom