header.header.header--bg
	.conteiner

		.header__row

			.header__top

				.header__top-col
					.header__logo
					.header__wrapper
						p.header__logo-text
						h4.header__logo-text

				.header__top-col
					ul.header__list
						li.header__items
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")
							a.header__link(href="#")

				.header__top-col
					button.button
			.header__bottom

				.header__bottom-col
					.header__description
						h1.header__title
						p.text
						button.button
						button.button

				.header__bottom-col
					.header__media