.modal
	.modal__body
		h2.modal__title sign up
		p.modal__close X

		form.modal__form(action="#")
			input.modal__input(type="text" placeholder="Name")
			input.modal__input(type="email" placeholder="Email")
			input.modal__input(type="password" placeholder="Password")
			input.modal__input(type="tel" placeholder="Tel")
