section.Services
	.conteiner

		h2.title-h2
		p.text

		.accordion
			.accordion__label
			.accordion__content
				p.text

		.accordion
			.accordion__label
			.accordion__content
				p.text

		.accordion
			.accordion__label
			.accordion__content
				p.text

		.accordion
			.accordion__label
			.accordion__content
				p.text
  
		.accordion
			.accordion__label
			.accordion__content
				p.text
