section.team
	.conteiner__tho

		h2.title-h2
		p.text
		
		.slider-person

			ul.slider-person__list

				li.slider-person__item
					img.slider-person__img(src="#", alt="")

				li.slider-person__item
					img.slider-person__img(src="#", alt="")

				li.slider-person__item
					img.slider-person__img(src="#", alt="")

			.team__description
				cite.cite
				p.text
				
		ul.team__socials.socials
			li.socials-item
				a.socials-link(href="#")
					img.socials-img(src="#", alt="")

			li.socials-item
				a.socials-link(href="#")
					img.socials-img(src="#", alt="")

			li.socials-item
				a.socials-link(href="#")
					img.socials-img(src="#", alt="")

			li.socials-item
				a.socials-link(href="#")
					img.socials-img(src="#", alt="")

			li.socials-item
				a.socials-link(href="#")
					img.socials-img(src="#", alt="")