section.team

	.team__conteiner

		.description
			h2.title Our Team
			p.text.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
		
		.team__slider-container.swiper-container

			ul.team__slider-wrapper.swiper-wrapper

				li.team__slider-slide.swiper-slide
					img.slider-person__img(src=way+"/Team/img1.png", alt="")
					.description
						h4.team__title-h4 Sophie Turner
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				
				li.team__slider-slide.swiper-slide
					img.slider-person__img(src=way+"/Team/img2.png", alt="")
					.description
						h4.team__title-h4 Sophie Turner
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				
				li.team__slider-slide.swiper-slide
					img.slider-person__img(src=way+"/Team/img3.png", alt="")
					.description
						h4.team__title-h4 Sophie Turner
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				
				
		ul.team__socials.socials
			li.socials-item
				a.socials-link._icon-tw(href="#")

			li.socials-item
				a.socials-link._icon-fe(href="#")

			li.socials-item
				a.socials-link._icon-vk(href="#")

			li.socials-item
				a.socials-link._icon-be(href="#")

			li.socials-item
				a.socials-link._icon-mail(href="#")