section.useful.useful__padding

	.conteiner

		h2.title Easy & Useful
		h3.title.useful__title Project Management Tool
		p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

		.useful__row

			.useful__col
				div.useful__image
					img.useful__img(src=way+"/Useful/img1.png" , alt="")
				h4.title-h4 Title Goes Here
				p.text.useful__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.useful__col
				div.useful__image
					img.useful__img(src=way+"/Useful/img2.png" , alt="")
				h4.title-h4 Title Goes Here
				p.text.useful__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.useful__col
				div.useful__image
					img.useful__img(src=way+"/Useful/img3.png" , alt="")
				h4.title-h4 Title Goes Here
				p.text.useful__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		button.bth.useful__bth Get started

