section.useful
	.conteiner

		hgroup.useful__hgroup
			h2.title
			h3.title.useful__title
			p.text

		.useful__row

			.useful__col
				img.useful__img(src="#", alt="")
				h4.title-h4
				p.text

			.useful__col
				img.useful__img(src="#", alt="")
				h4.title-h4
				p.text

			.useful__col
				img.useful__img(src="#", alt="")
				h4.title-h4
				p.text

		button.button

