.Services__padding{
	padding:100px 0px;
}

.conteiner_servisec{
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
}

.text__services{
	margin:30px auto;
}

.Services__description{
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
}

.accordion__label {
	.font(15px,15px,"Raleway_Bold",@tema-color);
	&:extend(.pos-rel);
	
	display: block;
	height: 50px;
	padding: 18px 0 0 25px;

	text-transform: uppercase;
	border-radius: 15px;

	transition: font-size 500ms,background-color 500ms ease;
}

.accoration__input{
	display: none;
}

.accoration__input:checked ~ .accordion__content{
	height: 200px;
	overflow-y: auto;
}

.accoration__input:checked ~ .accordion__label::before{
	border-top: @ser-bd solid transparent;
	border-bottom: @ser-bd solid @tema-color;
}

.accordion__label::before {
	content: "";
	
	position:absolute;
	top:50%;
	right:5%;
	transform:translateY(-50%);

	border-top: @ser-bd solid @tema-color;
	border-left: @ser-bd solid transparent;
	border-right: @ser-bd solid transparent;
	border-bottom: @ser-bd solid transparent;
}

.accordion__icon{
	position:absolute;
	top:48%;
	left:0;
	transform: translateY(-50%);
}

.accordion__content {
	display: flex;
	height: 0;
	overflow: hidden;
	transition: height 500ms ease;

	@media screen and(max-width:768px) {
		flex-direction: column;
	}
}

.accordion__image{
	&:extend(.pos-rel);
	width: 80%;
	

	padding: 0 0 25% 0;

	
	@media screen and(max-width:768px) {
		margin: 0 auto;
		max-width: 350px;
		padding: 0 0 25% 0;
	}
}
.accordion__img{
	.wh(100%,100%);

	position:absolute;
	top:0;
	left:0;

	object-fit: cover;
	object-position: center;
}
.accordion__block-text{
	height: 100%;
}
.accordion__text{
	color: @tema-color;

	padding:0 15px;
	margin-bottom: 25px;

	text-align: left;

	@media screen and(max-width:768px) {
		margin: 25px auto 25px auto;
		padding:0 5px;
		text-align: center;
	}
}

.accordion__text:nth-child(1){
	margin-top: 0;
}
