.team__conteiner{
	padding: 100px 10px;
}

.team__text{
	margin: 20px 0;
}

.slider-person {
	margin-top: 80px;
}

.slider-person__list {
	.flex-j-a(center,center);
}

.slider-person__item:last-child {
	opacity: 0.3;
	margin-left: 30px;
}

.slider-person__item:first-child {
	opacity: 0.3;
	margin-right: 30px;
}

.team__title-h4 {
	.font(18px,25px,"Raleway_Bold",@tema-color,center);
	margin-top: 40px;
	margin-bottom: 25px;
}

.team__socials {
	display: block;
	max-width: 500px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.socials-item {
	display: inline-block;
	margin: 0 15px;
	
}

.socials-link {
	font-size: 25px;
	color: #90a4ae;
	transition: color 500ms ease;
}

.socials-link:hover{
	color: red;
	text-shadow: 0 0 2px #000;
}
