
.bth {
	.font(15px,12px,"Raleway_Bold",@main-color);
	.padding(55px,89px,12px,15px);

	background-color: @tema-color;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
	border-radius: 5px;

	transition: color 500ms ease,background-color 500ms ease;
}

.bth:hover {
	background-color: @main-color;
	color: @tema-color;
}
.bth:active{
	position: relative;
	top: 5px;
}

