.useful__bth{
	display: block;

	margin:80px auto 0 auto;

	
	text-transform: uppercase;
	transition:background-color 500ms ease;
}

.bth--color{
	background-color: #1de9b6;
	color: @main-color;
}

.bth--color:hover{
	background-color: #0e6b54;
}

