.header__media.media
					.media-bg
					.media-controls
						div.media__button
							button.media__bth.media__bth--controls
							button.media__bth.media__bth--slowDown
							button.media__bth.media__bth--normalSpeed
							button.media__bth.media__bth--speedUp
						div.media__conteinerBar
							div.media__durationBar
					video.media__video( src="assets/vidao.mp4" type="video/mp4" onTimeUpdate="progressUpdate()") 
					button.media-bth