<!DOCTYPE html>

html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/index.min.css")
		
	body
		
		<!--header-->
				include main/pug/variable/_variable.pug
				include main/pug/_header.pug
				include main/pug/_header-modal.pug
		<!--content-->	
				include main/pug/_Useful.pug
				include main/pug/_download.pug
				include main/pug/_Services.pug
				include main/pug/_about.pug
				include main/pug/_Team.pug
				include main/pug/_Contect.pug
		<!--footer-->
				include main/pug/_footer.pug
		<!--js-->	
				include main/pug/_js.pug

