.header--bg {
	background:url("@{way-img}/header/bg.png") no-repeat center/cover;
	min-height: 100vh;
	
}

.header__padding{
	padding: 50px 0;
}

.conteiner {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__top {
	.flex-j-a(space-between,center);

	@media screen and(max-width:868px) {
		flex-direction: column;
	}
}

.header__top-col {
	display: flex;

	@media screen and(max-width:420px) {
		margin-bottom: 50px;
	}
}

.header__wrapper {
	margin-left: 10px;
}

.logo__text {
	.font(15px,15px,@main-color);
}

.logo__title{
	.font(15px,15px,"Raleway_Bold",@main-color);
	text-transform: uppercase;

}

.header__nav {
	
	@media screen and(max-width:868px) {
		margin: 50px 0;
	}

	@media screen and(max-width:420px) {
		display: none;
	}
}

.nav__list{
	display: flex;
}

.nav__items{
	margin-left:50px;

	@media screen and(max-width:550px) {
		margin-left:25px;
	}
}

.nav__items:first-child{
	margin-left:0px;

	@media screen and(max-width:550px) {
		
	}
}

.nav__link {
	.font(15px,25px,"Raleway_SemiBold",@main-color);
	transition: color 500ms ease;
}

.nav__link:hover{
	color:@tema-color;
}

.header__bottom {
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 100vh;

	@media screen and(max-width:1240px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	
}

.header__description {
	flex:1 1 50%;

	@media screen and(max-width:1240px) {
		max-width:none;
		flex:1 1 100%;
		margin-bottom:50px;
		padding: 0 25px;
		text-align: center;
	}
}

.header__title {
	.font(55px,65px,"Raleway_Bold",@main-color);
	text-transform: uppercase;
	padding-right: 100px;

	@media screen and(max-width:1240px) {
		padding-right: 0px;
	}
	@media screen and(max-width:767px) {
		padding-right: 0px;
		font-size: 45px;
	}
	
}

.header__text{
	.font(18px,35px,"Raleway_Regular",@main-color);
	margin: 25px 0;
	max-width: 580px;

	@media screen and(max-width:1240px) {
		margin:30px auto 30px auto;
	}
}


